---
import Container from "./Container.astro";
import DiscordIcon from "@/components/icons/DiscordIcon.astro";
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro";
import MeetupIcon from "@/components/icons/MeetupIcon.astro";

const mainLogo = {
  src: "/bn-logo-1.svg",
  alt: "Bloomington-Normal Developers Logo",
};

const socialLinks = [
  {
    href: "https://discord.gg/5XfdtzHrjH",
    text: "Discord",
    Icon: DiscordIcon,
  },
  {
    href: "https://www.linkedin.com/company/bloomington-normal-developers",
    text: "LinkedIn",
    Icon: LinkedInIcon,
  },
  {
    href: "https://www.meetup.com/blonodev",
    text: "Meetup",
    Icon: MeetupIcon,
  },
];

const currentYear = new Date().getFullYear();
---

<footer class="bg-darkish-blue/50">
  <Container class="flex w-full flex-col py-20">
    <div class="flex flex-col items-center justify-between gap-12 md:flex-row">
      <a href="/">
        <img src={mainLogo.src} width={120} height={100} alt={mainLogo.alt} />
      </a>
      <div class="flex gap-5">
        {
          socialLinks.map(({ href, Icon }) => (
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="transition-transform hover:rotate-12 hover:scale-110"
              href={href}
            >
              <Icon />
            </a>
          ))
        }
      </div>
    </div>
    <div class="mt-12 flex flex-col items-center">
      <p class="mb-3 text-center font-bold uppercase text-gray-300">
        © {currentYear} Bloomington-Normal Developers. All rights reserved.
      </p>

      <p class="text-center text-sm text-gray-100">
        Design by{" "}
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="font-semibold text-gray-50 underline"
          href="https://www.haileynfetting.com/"
        >
          Hailey Fetting
        </a>
      </p>
    </div>
  </Container>
</footer>
