---
import HeroGridCard from './HeroGridCard.astro';
import bndPeeps from '@/assets/images/bnd-peeps-1.jpg';
import bloomington from '@/assets/images/bloomington-1.jpg';
import techBros from '@/assets/images/tech-bros-1.avif';
import techPeople from '@/assets/images/tech-people-1.avif';
import normal from '@/assets/images/normal-1.jpeg';
const heroGridItems = [
  {
    span: 'md:col-span-3',
    image: {
      ...bndPeeps,
      alt: 'Bloomington-Normal Developers Meetup People',
    },
    heading: 'Networking Opportunities',
    tagline:
      'Meet and network with fellow software engineers, developers, and tech enthusiasts in your area.',
  },
  {
    span: 'md:col-span-3',
    image: {
      ...bloomington,
      alt: 'Bloomington, Illinois',
    },
    heading: 'Knowledge Sharing',
    tagline:
      'Attend talks and workshops led by experienced professionals and industry leaders.',
  },
  {
    span: 'md:col-span-2',
    image: { ...techBros, alt: 'Tech Bros in Meeting' },
    heading: 'Workshops',
    tagline:
      'Participate in hands-on coding sessions and collaborative projects to enhance your skills.',
  },
  {
    span: 'md:col-span-2',
    image: { ...techPeople, alt: 'Tech People at Coffee Shop' },
    heading: 'Career Development',
    tagline:
      'Gain insights into career growth, job opportunities, and professional development in the software engineering field.',
  },
  {
    span: 'md:col-span-2',
    image: { ...normal, alt: 'Normal, Illinois' },
    heading: 'Community Support',
    tagline:
      'Be part of a welcoming community that supports learning, collaboration, and mutual growth for all skill levels.',
  },
];
---

<div class="mt-20 grid grid-cols-1 gap-6 md:grid-cols-6">
  {heroGridItems.map((contentItem) => <HeroGridCard {...contentItem} />)}
</div>
