---
import Circle from "@/components/icons/Circle.astro";
import EventCard from "../EventCard.astro";
import Container from "@/components/layout/Container.astro";
import { SECTION_TOP_PADDING_OFFSET } from "@/lib/constants";
import { getUpcomingEvents } from "@/lib/events";

const upcomingEvents = getUpcomingEvents();
---

<section id="events" style={`padding-top: ${SECTION_TOP_PADDING_OFFSET}px`}>
  <Container class="mt-24">
    <div>
      <div class="relative">
        <div>
          <Circle
            size={250}
            class="absolute -translate-x-24 -translate-y-24 fill-purp-dark opacity-20"
          />
          <Circle
            size={100}
            class="absolute translate-x-40 translate-y-12 fill-purp-dark opacity-20"
          />
          <Circle
            size={100}
            class="absolute hidden -translate-y-12 translate-x-64 fill-purp-dark opacity-20 md:block"
          />
        </div>
        <h2 class="text-heading-secondary relative mb-12">Upcoming Events</h2>
      </div>
      <div class="grid gap-6">
        {upcomingEvents.map((event) => <EventCard event={event} />)}
      </div>
    </div>
  </Container>
</section>
