---
export type BadgeTheme = "purple" | "blue" | "cyan" | "gray";

interface Props {
  theme: BadgeTheme;
}

const { theme } = Astro.props;

const themeOptions: Record<BadgeTheme, string> = {
  purple: "bg-purp text-white",
  blue: "bg-blue-500 text-white",
  cyan: "bg-cyan-500 text-white",
  gray: "bg-gray-200 text-gray-500",
};
---

<div
  class={`${themeOptions[theme]} flex justify-center items-center font-semibold text-xs rounded-[10px] px-2 py-1`}
>
  <slot />
</div>
